*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid grey;
}
html{
    font-size:62.5%;
}
body{
  font-size:1.8rem;
  font-family: 'Lato', sans-serif;
  line-height:2;
  color:#4f4f4f;
}
.topHead{
    font-family: 'Playfair Display', serif;
}
.name{
    font-family: 'Press Start 2P', cursive;

}
.btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
button {
    background: rgb(247,150,192);
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    margin:4% 0;
  }
  button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  button:before,
  button:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  button:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  button:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  button:hover{
    background: black;
    color: #76aef1;
    box-shadow: none;
  }
  button:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  button:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  button span:before,
  button span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  button span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  button span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  button span:hover:before {
    width: 100%;
  }
  button span:hover:after {
    width: 100%;
  }

  section{
      padding:4% 0;
  }
  .box {
      border: 4px solid rgba(118,174,241,1);
  }
nav.main{
    display:flex;
    justify-content: space-between;
}
.links{
    width:50%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.top{
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about{
    display:flex;
    justify-content: space-around;
    height:85vh;
}
.left, .right{
    width:45%;
}
.right{
    width:58%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.right .box{
    width:80%;
    padding:4%;
}
.left img{
    width:80%;
}

.projects{
    text-align: center;

}
.container{
    display: flex;
    justify-content: space-around;

}
footer{
    background-color: #76aef1;
    padding:4% 0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer div{
    width:50%;
    text-align: center;

}
footer a i{
    color: black;
    font-size: 5rem;

}
.name{
    font-family: 'Press Start 2P', cursive;

}

.social{
  display:flex;
  justify-content: space-evenly;
}

/*Projects page*/
.container.projectPage .box{
  width: 30%;
  height:40vh;
  margin:2% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.project1{
  background-image: url('../images/coffee.jpg');
}
.project2{
  background-image: url('../images/flowers.jpg');
}
.project3{
  background-image: url('../images/hotel.jpg');
}
.project4{
  background-image: url('../images/icecream.jpg');
}
.project5{
  background-image: url('../images/wrestling.jpg');
}
.project6{
  background-image: url('../images/yoga.jpg');
}
.container .projectPage .box div{
  width:100%;
  height:40vh;
  background-color:rgba(118,174,241,1);
  display:none;
}
.container .projectPage .box:hover div{
  display: block;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}